body {
    background: rgb(178, 175, 175);
}
header {
    text-align: center;
    color: white;
    font-family: Fascinate;
    font-style: italic;
}
.container {
    width: 90%;
    margin: auto;
}
nav {
    background: rgb(194, 114, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.nav-links {
    background: transparent;
    font-family: "PT Sans Narrow";
    font-weight: 100;
    cursor: pointer;
}
.search {
    background: rgb(194, 114, 181);
}
.search input {
    background: white;
    /* height: 45px; */
    padding: 10px 5px;
    margin-left: 5px;
    width: 300px;
    font-family: "PT Sans Narrow";
}
.search button {
    font-family: "PT Sans Narrow";
    background: rgb(60, 59, 59);
    color: white;
    padding: 10px 45px;
}


main {
    display: flex;
    /* justify-content: space-between; */
}
.article {
    background: white;
    padding: 20px;
    /* display: flex; */
    flex-basis: 75%;
}
.article h2, p{
    background: white;
}
.article-heading h2{
    text-align: center;
    font-family: Fascinate;
    font-style: italic;
}
.article p {
    font-family: "PT Sans Narrow"
}
.subsection-title {
    font-family: Fascinate;
    font-style: italic;
}
.sidebar {
    background: rgb(194, 114, 181);
    padding: 20px;
    flex-basis: 24%;
}
.sidebar-title {
    font-family: Fascinate;
    font-style: italic;
}
.sidebar-list {
    font-family: "PT Sans Narrow"
}