* {
    background: rgb(178, 175, 175);
}
header {
    text-align: center;
    color: white;
    font-family: Fascinate;
    font-style: italic;
}
.container {
    width: 90%;
    margin: auto;
}
.nav-bar {
    background: rgb(194, 114, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.nav-links {
    background: transparent;
    font-family: "PT Sans Narrow";
    font-weight: 100;
    cursor: pointer;
}
.search {
    background: rgb(194, 114, 181);
}
.search input {
    background: white;
    /* height: 45px; */
    padding: 10px 5px;
    margin-left: 5px;
}