* {
    background: rgb(178, 175, 175);
}
header {
    text-align: center;
    color: white;
    font-family: Fascinate;
    font-style: italic;
}
.container {
    width: 90%;
    display: flex;
    justify-content: center;
}
.nav-bar {
    background: rgb(194, 114, 181);
    display: flex;
    justify-content: space-between;
}
.nav-links {
    background: transparent;
}